@font-face {
    font-family: 'Larsseit';
    src: url('./../fonts/9215.ttf') format('truetype');
}

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #22356F;
    font-family: 'Larsseit';
}

.header {
    height: 840px;
    background-color: #F4F9E2;
}

.why {
    height: 605px;
    display: grid;
    grid-template-columns: 1fr 525px;
}

.why__article {
    background-color: #62D0DF;
    color: #fff;
    padding: 0 180px 0;
}

.why__main-heading {
    margin: 150px 0 75px 0;
    font-size: 36px;
}

.why__heading {
    margin-bottom: 10px;
    font-size: 24px;
}

.why__description {
    font-size: 20px;
}

.why__inner {
    width: 100%;
    height: 100%;
    flex: 0 1;
}

.why__photo {
    width: 100%;
    height: 100%;
}

.about {
    height: 840px;
    position: relative;
}

.about__first-heading {
    font-size: 16px;
    font-weight: 100;
    position: absolute;
    top: 5px;
    left: 105px;
}

.about__description {
    width: 592px;
    margin: 150px auto 76px;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
}

.about__second-heading {
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    opacity: 50%;
    margin-bottom:24px;
}

.about__warapper {
    height: 360px;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.about__block {
    position: relative;
}

.about__block::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 255px;
    height: 1px;
    top: 72px;
    left: 52px;
}

.about__block:first-child {
    background-color: #FFE2DE;
}

.about__block:nth-child(2) {
    background-color: #C4E769;
}

.about__block:nth-child(3) {
    background-color: #62D0DF;
}

.about__block:last-child {
    background-color: #0052C1;
}

.about__option {
    position: absolute;
    top: 95px;
    left: 78px;
}

.about__option::before {
    position: absolute;
    width: 9px;
    height: 9px;
    content: '';
    background-color: #E9B730;
    border-radius: 50%;
    top: 10px;
    left: -25px;
}

.plate {
    height: 960px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

.plate__block {
    position: relative;
}

.plate__block:first-child {
    background-color: #22356F;
}

.plate__block:nth-child(2) {
    background-color: #0052C1;
}


.plate__block:nth-child(3) {
    background-image: url(./../img/plate/joanna-kosinska-340748.svg);
}

.plate__block:nth-child(4) {
    background-color: #62D0DF;
}

.plate__block:nth-child(5) {
    background-color: #DEE1FF;
}

.plate__block:last-child {
    background-color: #8F00FF;
}

.plate__block::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 340px;
    height: 1px;
    top: 96px;
    left: 70px;
}

.plate__option {
    position: absolute;
    top: 126px;
    left: 104px;
}

.plate__option::before {
    position: absolute;
    width: 12px;
    height: 12px;
    content: '';
    background-color: #E9B730;
    border-radius: 50%;
    top: 13px;
    left: -33px;
}

.info {
    height: 480px;
    margin-bottom: 40px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

.info__block {
    padding: 0 77px 0 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__heading {
    margin-bottom: 28px;
    font-size: 28px;
    font-weight: 500;
}

.info__description {
    opacity: 50%;
    font-size: 16px;
}